@mixin h1Font {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

@mixin pFont {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

