//COLORS
$layoutColor: #4668DB;
$selectedNumber: #FFD205;
$containerBGColor: #FFFFFF;


//FONTS
$mainFontF: 'Roboto';


//BORDERS

$buttonBorder: 1px solid #000000;
$numberBorder: 1px solid #DDDDDD;
$numberBorderRadius: 5px;
$containerBorderRadius: 3px;
$buttonBorderRadius: 40px;


$containerPadding: 14px 11px 24px 16px;
$buttonPadding: 13px 21px;


$nuberSizes: 38px;
